# To Do Tasks
.todo

# Access Files
.htaccess

# Dev Tools
vendor
stubs
.php-cs-fixer.cache
.php-cs-fixer.dist.php
composer.json
composer.lock
rector.php

# Module config files
config_*.xml

# Archive
_oldies

# System Files
desktop.ini
*ico-*.ico
